<nav class="navbar mb-5 shadow">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png">
    </a>
    <div class="video-responsive-wrapper mx-auto">
        <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=abcdefg1234567" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</nav>